

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


/* 🌟 Full-Page Background */
/* body, html {
    height: 100%;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%); ;
    margin: 0;
    padding: 0;
    /* background-image: url("./assets/bgimg.jpg");  */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */
  
  /* 🌙 Dark Mode Background */
  /* .dark-mode body {
    background-image: url("https://source.unsplash.com/1600x900/?night,library");
  }
    */